#hello {
    background-color: purple;
}

.hello {
    background-color: green;
}


.world {
    background-color: blue;
}


[world="true"] {
    background-color: cyan;
}

[type="password"] {
    background-color: chartreuse;
}
